.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batata-logo{
    position: absolute; /*asegurar que el padre directo tenga position relative*/
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(./Asset/Imgs/logosmall2.svg);
}

.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
/*     margin: 0 auto;
    margin-top: 50px; */
    margin: 50px auto 0;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}

.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.16);
}

.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-image: url(./Asset/Imgs/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);
}

.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card .eyes{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-image: url(./Asset/Imgs/eye.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .coin{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-image: url(./Asset/Imgs/dollar-sign.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-image: url(./Asset/Imgs/check-circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
